@model IEnumerable<candidate.Models.Skill>

@{
    ViewData["Title"] = "Index";
}

<br />

<p>
    <a asp-action="Create" class="btn btn-outline-primary btn-sm mb-2">Add Skill</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SkillName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillName)
                </td>
                <td>
                        <a asp-action="Delete" class="btn btn-outline-danger btn-sm" asp-route-id="@item.SkillsId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
